<div class="container-fluid mt-3">

  <!-- <div class="jumbotron p-4 p-md-4 rounded text-white bg-primary">
    <h3 class="font-weight-bold">Hello, Welcome to my story!</h3>
    <p class="font-weight-light">Tell stories about feelings, experiences, and positive things that have been found.</p>
  </div> -->

  <div class="mncontainer">
    <img src="../Images/bg_index.jpg" class="d-block w-100 rounded img-fluid " alt="Responsive image">
    <div class="centered">
      <h2 style="font-size:3vw;">ITSARED HIRUNTREEKOON</h2>
      <p style="font-size:1vw;">Programmer - Web Designer - Full Stack Programming 2</p>
    </div>
  </div>

  

  <div class="row">
    <div class="col-lg-7 col-md-6 col-12">
        
    </div>
    
 <!-- .d-none .d-md-block .d-lg-none -->
 <!-- .d-md-none .d-lg-block -->

    <div class="col-lg-5 col-md-6 col-12">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12 overflow-auto" style="height: 480px; ">
          <div id="colProj" class="row sticky-top bg-light">
            <div class="col-6"><strong class="d-inline-block mb-2 pt-3 text-primary">Past Performance</strong></div>
            <div class="col-6 text-right"><strong class="d-inline-block mb-2 pt-3"><a href="/Views/Project.html" style="color:slategray;">more..</a></strong></div>
          </div>
            <div class="dropdown-divider"></div>
            <div class="card mb-2">
              <div class="card-header">
                <h5 class="mb-0">
                  <a class="text-dark font-weight-bold" href="#">NF Property (Phase 1)</a>
                </h5>
              </div>
              <div class="card-body d-flex flex-column align-items-start">
                
                <div class="mb-1 text-muted">May-Aug 2021</div>
                <p class="card-text mb-auto">Record transactions about the value of copper.</p>
                <a href="#">Continue reading</a>
              </div>
            </div>
            
            <div class="card mb-2">
              <div class="card-header">
                <h5 class="mb-0">
                  <a class="text-dark font-weight-bold" href="#">Rework Recording and Transport (Phase 2)</a>
                </h5>
              </div>
              <div class="card-body d-flex flex-column align-items-start">
                
                <div class="mb-1 text-muted">Apr 2021</div>
                <p class="card-text mb-auto">The program divides repair work and sends it to other agencies.</p>
                <a href="#">Continue reading</a>
              </div>
            </div>
    
            <div class="card mb-2">
              <div class="card-header">
                <h5 class="mb-0">
                  <a class="text-dark font-weight-bold" href="#">Company Visit</a>
                </h5>
              </div>
              <div class="card-body d-flex flex-column align-items-start">
                
                <div class="mb-1 text-muted">Feb 2021</div>
                <p class="card-text mb-auto">Records of entering the factory and visitors to the event.</p>
                <a href="#">Continue reading</a>
              </div>
            </div>
    
            <div class="card mb-2">
              <div class="card-header">
                <h5 class="mb-0">
                  <a class="text-dark font-weight-bold" href="#">Gatepass Factory (Phase 2)</a>
                </h5>
              </div>
              <div class="card-body d-flex flex-column align-items-start">
                
                <div class="mb-1 text-muted">Jan 2021</div>
                <p class="card-text mb-auto">Records of entering the factory and visitors to the event.</p>
                <a href="#">Continue reading</a>
              </div>
            </div>
    
            <div class="card mb-2">
              <div class="card-header">
                <h5 class="mb-0">
                  <a class="text-dark font-weight-bold" href="#">Single Sign-On (SSO)</a>
                </h5>
              </div>
              <div class="card-body d-flex flex-column align-items-start">
                
                <div class="mb-1 text-muted">Dec 2020</div>
                <p class="card-text mb-auto">structure for access to the program and can be assigned individual licenses.</p>
                <a href="#">Continue reading</a>
              </div>
            </div>
    
            <div class="card mb-2">
              <div class="card-header">
                <h5 class="mb-0">
                  <a class="text-dark font-weight-bold" href="#">Webportal</a>
                </h5>
              </div>
              <div class="card-body d-flex flex-column align-items-start">
                
                <div class="mb-1 text-muted">Nov 2020</div>
                <p class="card-text mb-auto">Access to all programs of the company on web browser.</p>
                <a href="#">Continue reading</a>
              </div>
            </div>
    
            <div class="card mb-2">
              <div class="card-header">
                <h5 class="mb-0">
                  <a class="text-dark font-weight-bold" href="#">TRS - Transport Request Service</a>
                </h5>
              </div>
              <div class="card-body d-flex flex-column align-items-start">
                
                <div class="mb-1 text-muted">Sep 2020</div>
                <p class="card-text mb-auto">Program for booking company cars for use via online system.</p>
                <a href="#">Continue reading</a>
              </div>
            </div>
    
            <div class="card mb-2">
              <div class="card-header">
                <h5 class="mb-0">
                  <a class="text-dark font-weight-bold" href="#">OC Keyence Laser Ejector</a>
                </h5>
              </div>
              <div class="card-body d-flex flex-column align-items-start">
                
                <div class="mb-1 text-muted">June-July 2020</div>
                <p class="card-text mb-auto">pull the blueprint work with laser ejector.</p>
                <a href="#">Continue reading</a>
              </div>
            </div>
    
            <div class="card mb-2">
              <div class="card-header">
                <h5 class="mb-0">
                  <a class="text-dark font-weight-bold" href="#">Schdule Delivery</a>
                </h5>
              </div>
              <div class="card-body d-flex flex-column align-items-start">
                
                <div class="mb-1 text-muted">May 2020</div>
                <p class="card-text mb-auto">Show delivery information and schedule delivery status updates.</p>
                <a href="#">Continue reading</a>
              </div>
            </div>
    
    
            <div class="card mb-2">
              <div class="card-header">
                <h5 class="mb-0">
                  <a class="text-dark font-weight-bold" href="#">DATAMAN Data Storage on Camera QR Scanner</a>
                </h5>
              </div>
              <div class="card-body d-flex flex-column align-items-start">           
                <div class="mb-1 text-muted">MAR 2020</div>
                <p class="card-text mb-auto">Camera serial data storage system for scanning QR codes.</p>
                <a href="#">Continue reading</a>
              </div>
            </div>
         
        </div>

          <div class="col-lg-6 col-md-12 col-12">
            <strong class="d-inline-block mb-2 pt-3 text-primary">PTT Station (Oil Price) </strong>
            <div class="dropdown-divider"></div>

            <div class="btn-group dropright btn-group-sm w-100 ml-2">
                <iframe width="100%" height="430px;" src="https://www.pttor.com/th/oil_price_board?lang=th" frameborder="0"></iframe>
            </div>

            <!-- <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item vh100" src="http://www1.pttor.com/oilprice-board.aspx" allowfullscreen></iframe>
            </div> -->

            <!-- 1:1 aspect ratio -->
            <!-- <div class="embed-responsive embed-responsive-1by1" >
              <iframe class="embed-responsive-item" src="http://www1.pttor.com/oilprice-board.aspx"></iframe>
            </div> -->
          </div>


          <div class="col-12">
            <strong class="d-inline-block mb-2 pt-3 text-primary">สถานการณ์ผู้ติดเชื้อ COVID-19 อัพเดทรายวัน</strong>
            <div class="dropdown-divider"></div>
            <div id="CovidTag"></div>
    
          </div>

      </div>


  </div>
</div>


<!-- <div class="p-3">
    <h1 class="display-4">Hello, Welcome to my story!</h1>
    <p class="lead">Tell stories about feelings, experiences, and positive things that have been found.</p>
    <hr />
  </div> -->

<!-- <div class="list-group mb-4">
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Phuket trip</h5>
        <small>10 Dec 2020</small>
      </div>
      <small>Don Muang Airport to Phuket </small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Ronin Yakiniku Japanese Restaurant</h5>
        <small class="text-muted">6 Dec 2020</small>
      </div>
      <small class="text-muted">Dinner with my girlfriend.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Ordination work at Wat Yannawa</h5>
        <small class="text-muted">3 Dec 2020</small>
      </div>
      <small class="text-muted">Wat Yannawa</small>
    </a>  
  </div> -->

<!-- <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-5 col-12">
      <div id="CovidTag"></div>
    </div>
    <div class="col-xl-9 col-lg-8 col-md-7 col-12">
      <div class="table-responsive mt-3" style="font-size: .9em;">
        <table id="cvTable" class="dataTable table table-hover table-bordered table-striped">
          <thead class="alert-dark">
            <tr class="table-active text-center">
              <th scope="col">จังหวัด</th>
              <th scope="col">จำนวนผู้ติดเชื้อ(คน)</th>
            </tr>
          </thead>
          <tbody id="item_data">

          </tbody>
        </table>
      </div>
    </div>

  </div> -->




</div>

<script>
  $(function () {
    $("#CovidTag").load("Views/CovidTag.html");
  });

  // $(document).ready(function () {
  //   init()

  //   function init() {
  //     var url = "https://covid19.th-stat.com/json/covid19v2/getSumCases.json";

  //     //test commit comment
  //     $.get(url, function (data) {
  //       for (const [key, value] of Object.entries(data.Province)) {
  //         document.getElementById("item_data").innerHTML += "<tr><td>" + key + "</td><td class='text-right'>" +
  //           value + "</td></tr>";
  //       }
  //       /*DataTables instantiation.*/
  //       $("#cvTable").DataTable({
  //         "order": [
  //           [1, "desc"]
  //         ]
  //       });
  //     })
  //   }



  // })
</script>