<!doctype html>
<html lang="en">
    <head>
        <title>Itsared.H - Profile</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/Images/9b_icon.ico" />
      
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
        <link rel="stylesheet" href="../Styles/font-awesome.css">
        <link rel="stylesheet" href="../Styles/mainstyle.css">
        <link rel="stylesheet" href="../Styles/DataTables/css/jquery.dataTables.min.css">
      
      </head>



<body>
    <div id="header"></div>
    <div class="container-fluid body-content" id="bodyContent">
        <div id="slidemenuContent"></div>
        <div id="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="jumbotron p-4 p-md-4 rounded text-white bg-primary text-center">
                            <img src="/Images/profile_dev_v1.jpg" class="rounded-circle img-fluid img-thumbnail shadow mt-4 mb-4" />
                            <h3 class="display-5 font-weight-light">Itsared Hiruntreekoon</h3>
                            <p class="lead my-3 d-inline" style="font-size:0.8rem;">Developer <i class="fa fa-circle p-2" style="font-size:0.4rem;"></i></p>
                            <p class="lead my-3 d-inline" style="font-size:0.8rem;">Web Designer <i class="fa fa-circle p-2" style="font-size:0.4rem;"></i></p>
                            <p class="lead my-3 d-inline" style="font-size:0.8rem;">SAP-Abaper </p>
                        </div>
                    </div>

                    <div class="col-12" style="margin-top: -1.8rem">
                          
                        <div class="card">
                            <div class="card-header text-center"><h4 class="font-weight-light"><u>PORTFOLIO</u></h4> </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4 col-12 mb-3">
                                        <button class="btn btn-success btn-lg fa fa-id-badge bg-success text-white w-100" style="font-size:3rem;" data-toggle="modal" data-target="#exampleModalLong-1">
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalLong-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Personal Information</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body" >
                                                    <div class="row">
                                                        <div class="col-lg-3 col-4">Name</div>
                                                        <div class="col-lg-9 col-8" >Itsared Hiruntreekoon</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-3 col-4">Address</div>
                                                        <div class="col-lg-9 col-8">100/11 Sukumvit Road, Bangprasoy Sub-Distric Muang Chonburi 20000 TH</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-3 col-4">Contract</div>
                                                        <div class="col-lg-9 col-8">+6685-075-4536</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-3 col-4">E-Mail</div>
                                                        <div class="col-lg-9 col-8">littlefatboyz@gmail.com</div>
                                                    </div>
                                                    

                                                    <div class="row mt-3">
                                                        <div class="col-lg-3 col-12"></div>
                                                        <div class="col-lg-9 col-12 text-center">
                                                            <!--Google map-->
                                                            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3881.8393076200277!2d100.98551471527189!3d13.360266109844252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTPCsDIxJzM2LjkiTiAxMDDCsDU5JzE1LjciRQ!5e0!3m2!1sen!2sth!4v1632159090959!5m2!1sen!2sth" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                                            </div>
                                                            
                                                            <!--Google Maps-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-12 mb-3">
                                        <button class="btn btn-warning btn-lg fa fa-graduation-cap bg-warning text-white  w-100" style="font-size:  3rem;" data-toggle="modal" data-target="#exampleModalLong-2">
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalLong-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle-2" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle-2">Education & Work Experience</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body" >
                                                    <!--.row-->
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-8"><p class="font-weight-light d-inline">Burapha University (Information Technology)</p></div>
                                                                <div class="col-4 text-right" style="font-size:small"><p class="d-inline">2010 - 2012</p></div>
                                                            </div>
                                                            <!-- .experience-item -->
                                                            <div class="row">
                                                                <div class="col-8"><p class="font-weight-light d-inline">Chonburi Vocational College (Computer Business)</p></div>
                                                                <div class="col-4 text-right" style="font-size:small"><p class="d-inline">2005 - 2010</p></div>
                                                            </div>
                                                            <!-- .experience-item -->
                                                            <div class="row">
                                                                 <div class="col-8"><p class="font-weight-light d-inline">Chonradsadornumrung School (Junior High School)</p></div>
                                                                <div class="col-4 text-right" style="font-size:small"><p class="d-inline">2002 - 2005</p></div>
                                                                
                                                            </div>
                                                            <!-- .experience-item -->
                                                        </div>
                                                    </div>
                                                    <!--.row-->

                                                    <div class="dropdown-divider"></div>

                                                    <div class="row">
                                                        
                                                        <div class="col-9">PROGRAMMER</div>
                                                        <div class="col-lg-3 col-12 text-right"  style="font-size:small">2018 - Present</div>
                                                        <div class="col-12">Oriental Copper Company</div>
                                                        <div class="col-12">Amatanikom phase 2, Chonburi</div>
                                                        <div class="col-lg-3 col-12"><u>May-Aug 2021</u></div>
                                                        <div class="col-9">NF Property (Phase 1)</div>

                                                        <div class="col-lg-3 col-12"><u>Apr 2021</u></div>
                                                        <div class="col-9">Rework Recording and Transport (Phase 2)</div>

                                                        <div class="col-lg-3 col-12"><u>Feb 2021</u></div>
                                                        <div class="col-9">Company Visit</div>

                                                        <div class="col-lg-3 col-12"><u>Jan 2021</u></div>
                                                        <div class="col-9">Gatepass Factory (Phase 2)</div>

                                                        <div class="col-lg-3 col-12"><u>Dec 2020</u></div>
                                                        <div class="col-9">Single Sign-On (SSO)</div>

                                                        <div class="col-lg-3 col-12"><u>Nov 2020</u></div>
                                                        <div class="col-9">Webportal</div>

                                                        <div class="col-lg-3 col-12"><u>Sep 2020</u></div>
                                                        <div class="col-9">TRS - Transport Request Service</div>

                                                        <div class="col-lg-3 col-12"><u>June-July 2020</u></div>
                                                        <div class="col-9">OC Keyence Laser Ejector</div>

                                                        <div class="col-lg-3 col-12"><u>May 2020</u></div>
                                                        <div class="col-9">Schdule Delivery</div>

                                                        <div class="col-lg-3 col-12"><u>Mar 2020</u></div>
                                                        <div class="col-9">DATAMAN Data Storage on Camera QR Scanner</div>

                                                        <div class="col-lg-3 col-12"><u>Start date - Nov 2018</u></div>
                                                        <div class="col-9">
                                                            <p>Project Convert VB6 to VB.NET</p>
                                                            <li>Workhour(บันทึกล่วงเวลาตามแผนก)</li>
                                                            <li>Quality Control Program </li>
                                                            <li>Extrusion Formula Record</li>
                                                            <li>Ingot FIFO on Foundry Station</li>
                                                            <li>Rework Recording</li>
                                                            <li>Window Mobile on Headhelp</li>
                                                            <li>Android Mobile</li>
                                                            <li>IT Support</li>
                                                            <li>Event Support</li>
                                                            <li>Photographer</li>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="dropdown-divider"></div>

                                                    <div class="row">
                                                        
                                                        <div class="col-9">PROGRAMMER</div>
                                                        <div class="col-lg-3 col-12  text-right"  style="font-size:small">2015 - 2018</div>
                                                        <div class="col-12">Thai Steel Cable Public Company Limited</div>
                                                        <div class="col-12">Amatanikom phase 8, Chonburi</div>
                                                        <div class="col-lg-3 col-12"><u>May 2018</u></div>
                                                        <div class="col-9">MK Breakdown Project</div>

                                                        <div class="col-lg-3 col-12"><u>Feb 2018</u></div>
                                                        <div class="col-9">Support System AGM 2018 for Thaisteelcable.</div>

                                                        <div class="col-lg-3 col-12"><u>Jan 2018</u></div>
                                                        <div class="col-9">APQP Project for NPC Project.</div>

                                                        <div class="col-lg-3 col-12"><u>Aug 2017</u></div>
                                                        <div class="col-9">Asset Transfer Project.</div>

                                                        <div class="col-lg-3 col-12"><u>Dec 2016</u></div>
                                                        <div class="col-9">PR System Project.</div>

                                                        <div class="col-lg-3 col-12"><u>Start date - Nov 2015</u></div>
                                                        <div class="col-9">
                                                            <li>Support System & Data & Email Alert for EDI Web Application.</li>
                                                            <li>Summary Report by Vendor.</li>
                                                            <li>Get PO File on SAP and Sendmail to Vendor.</li>
                                                            <li>[New] Get Data Back PO on SAP and Sendmail to Vendor.</li>
                                                            <li>Support Production for Window Application.</li>
                                                            <li>Tag Production.</li>
                                                            <li>Leadtime Production</li>
                                                            <li>Booking Car.</li>
                                                            <li>Visitor.</li>
                                                            <li>Issue Supplier.</li>
                                                            <li>SAP ERP Develop & Web Service for Application</li>
                                                            <li>Abaper - Function, Program, Report and Smartforms</li>
                                                            <li>Support Webservice on Web Application, Mobile Application</li></div>
                                                    </div>

                                                    <div class="dropdown-divider"></div>

                                                    <div class="row">
                                                        <div class="col-9">PROGRAMMER</div>
                                                        <div class="ccol-lg-3 col-12  text-right"  style="font-size:small">2012 - 2015</div>
                                                        <div class="col-12">Cobra International</div>
                                                        <div class="col-12">Amatanikom phase 4, Chonburi</div>
                                                        <div class="col-lg-3 col-12 "><u>May 2012 - Oct 2015</u></div>
                                                        <div class="col-lg-9 col-12">
                                                            <p>SAP Extension on Web Application</p>
                                                            <li>Business Dashboard</li>
                                                            <li>Production Line Summary Report</li>
                                                            <li>Production Queue</li>
                                                            <li>Store Map</li>
                                                            <li>Material Require</li>
                                                            <li>Capacity-Leadtime</li>
                                                            <li>ระบบรายชื่อพนักงาน</li>
                                                            <li>ระบบจองรถรับส่ง</li>
                                                            <li>ระบบลงทะเบียนกิจกรรม</li>
                                                            <div class="dropdown-divider"></div>
                                                            <p>SAP Report</p>
                                                            <li>Vendor Consignment Stock Usage</li>
                                                            <li>Product Tracking</li>
                                                            <li>Daily Production Output</li>
                                                            <li>Store Map</li>
                                                            <li>Material Require</li>
                                                            <li>Capacity-Leadtime</li>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-12 mb-3 ">
                                        <button class="btn btn-danger btn-lg fa fa-html5 bg-danger text-white  w-100" style="font-size:  3rem;" data-toggle="modal" data-target="#exampleModalLong-3"></button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalLong-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle-3" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle-3">Programming Skills </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    </div>
                                                    <div class="modal-body" >
                                                        
                                                        <div class="card">
                                                            <div class="card-header">
                                                                Scripting and Programming Language
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-lg-4 col-12">HTML</div>
                                                                    <div class="col-lg-8 col-12">
                                                                        <div class="progress">
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-4 col-12">CSS</div>
                                                                    <div class="col-lg-8 col-12">
                                                                        <div class="progress">
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-4 col-12">BOOTSTRAP</div>
                                                                    <div class="col-lg-8 col-12">
                                                                        <div class="progress">
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-4 col-12">C#</div>
                                                                    <div class="col-lg-8 col-12">
                                                                        <div class="progress">
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-4 col-12">VB.NET</div>
                                                                    <div class="col-lg-8 col-12">
                                                                        <div class="progress">
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-lg-4 col-12">JAVASCRIPT</div>
                                                                    <div class="col-lg-8 col-12">
                                                                        <div class="progress">
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-4 col-12">JQUERY</div>
                                                                    <div class="col-lg-8 col-12">
                                                                        <div class="progress">
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-4 col-12">ABAP</div>
                                                                    <div class="col-lg-8 col-12">
                                                                        <div class="progress">
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-4 col-12">MOBILE</div>
                                                                    <div class="col-lg-8 col-12">
                                                                        <div class="progress">
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="card mt-3">
                                                            <div class="card-header">
                                                                Graphic for Web Software
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-lg-4 col-12">Photoshop</div>
                                                                    <div class="col-lg-8 col-12">
                                                                        <div class="progress">
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-4 col-12">Lightroom</div>
                                                                    <div class="col-lg-8 col-12">
                                                                        <div class="progress">
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-4 col-12">Kine Master</div>
                                                                    <div class="col-lg-8 col-12">
                                                                        <div class="progress">
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%"></div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-4 col-12">OBS Steaming</div>
                                                                    <div class="col-lg-8 col-12">
                                                                        <div class="progress">
                                                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>           
                    </div>
                    
                    
                    
                    
                </div>
            </div>
        </div>
        <div id="footer"></div>
      </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../Scripts/DataTables/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>

    <script>
        $(function(){
        $("#header").load("../Views/Header.html"); 
        $("#slidemenuContent").load("../Views/SlideMenu.html");
        $("#modalContent").load("../Views/ModalImageContent.html");
        $("#footer").load("../Views/Footer.html");
    });
    </script>
</body>
</html>